.header {
    position: absolute;
    color: white;
    padding-top: 30px;
    width: 100%;
}

.header__content {}

.menu {
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
}

.logo {
    line-height: 0;
    flex-shrink: 0;
}

.nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    margin-top: -30px;
}

.nav__list {
    display: flex;
    column-gap: 30px;
}

.header__nav-list {
    padding: 20px 40px;
    background-color: #404f59;
    border-radius: 0 0 10px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
}

.nav__item {}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {}

.phone {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__phone {}

.phone__icon {}

.phone__link {}

.phone__half {}

.burger__img {
    display: none;
}