.hero {
    background-color: #2C3B45;
    padding-top: 150px;
    min-height: 750px;
    border-bottom: 50px solid #1E92E7;
    display: flex;
}

.hero_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero__content {
    padding-top: 75px;
    flex: 1;
    padding-right: 85px;
}

.adress {
    color: #1E92E7;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.adress::before {
    content: "";
    display: inline-block;
    background-image: url("../../images/icons/map_marker.svg");
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 46px;
}

.hero__btns {}

.btn {}

.btn--primary {}

.hero__btn {}

.hero__image {
    position: relative;
    flex: 1;
    text-align: center;
}

.hero__pic {
    height: 100%;
    object-fit: contain;
    object-position: bottom center;
    position: relative;
    z-index: 10;
}

.hero__image::before,
.hero__image::after {
    content: "";
    display: block;
    width: 50vw;
    height: 100%;
    position: absolute;
    border-radius: 5px 0 0 0;
}

.hero__image::before {
    top: 0;
    left: 0;
    background-image: url("../../images/bg/sky.jpg");
    z-index: 9;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__image::after {
    background-color: #404F59;
    z-index: 8;
    top: -15px;
    left: 30px;
}